@import 'tailwindcss/base';
@import 'tailwindcss/components'; 
@import 'tailwindcss/utilities';
@import 'react-toastify/dist/ReactToastify.css';

@import './animate.scss';
@import './background.scss';
@import './text.scss';
@import './react-mentions-custom.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Open_Sans", sans-serif;
}

* {
  font-family: "Open_Sans", sans-serif;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.Toastify {
  &__toast-body {
    font-family: "Open_Sans", sans-serif;
    font-weight: 400;
    @apply text-gray-800;
  }
}
